.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj.user
*.utf8.md
*.knit.md
*.swp
.DS_Store
doc/
Meta/
*.tar.gz
*.Rcheck/
# docs/ is committed optionally; pkgdown GHA deploys to gh-pages
vignettes/*.html
vignettes/*_files/
vignettes/*.R
.Rcache/
local/
*.log
